<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- <properties resource="config/jdbc/datasource.properties" /> -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>
	<typeAliases>
		<typeAlias alias="Options" type="aug.blogs.model.Options" />
		<typeAlias alias="Posts" type="aug.blogs.model.Posts" />
		<typeAlias alias="TermRelationships" type="aug.blogs.model.TermRelationships" />
		<typeAlias alias="TermTaxonomy" type="aug.blogs.model.TermTaxonomy" />
		<typeAlias alias="Terms" type="aug.blogs.model.Terms" />
		<typeAlias alias="Users" type="aug.blogs.model.Users" />
	</typeAliases>
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${base.jdbc.driver}" />
				<property name="url" value="${base.jdbc.url}" />
				<property name="username" value="${base.jdbc.username}" />
				<property name="password" value="${base.jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="aug/blogs/mapper/Options.xml" />
		<mapper resource="aug/blogs/mapper/Posts.xml" />
		<mapper resource="aug/blogs/mapper/TermRelationships.xml" />
		<mapper resource="aug/blogs/mapper/TermTaxonomy.xml" />
		<mapper resource="aug/blogs/mapper/Terms.xml" />
		<mapper resource="aug/blogs/mapper/Users.xml" />
	</mappers> -->
</configuration>